.app-component-dropdown {
    position: relative;
    width: 100%;
    margin: 0em auto;

    .header {
        font-family: $font-paragraph-2;
        color: $color-invision-1;
        margin: 0.5em 0 0 0;
    }

    .dropdown-btn {
        padding: 0.65em 1em;
        position: relative;
        margin: 0.5em auto 0 auto;
        // padding: 0.7em 1.2em;
        // background: #e4e4e4;
        background: #eee;
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        border-radius: 0.25em;
        // box-shadow: 0 0 10px -10px #bbb;

        span.text1,
        span.text2 { 
            user-select: none;
            font-family: $font-paragraph-2;
            font-weight: normal;
        }

        span.text1 {
            flex: 0 0 auto;            
            // color: #444;
            color: $color-invision-1;
            // text-align: right;
            margin: 0 0.25em 0 0;
        }
        span.text2 {
            flex: 1 0 auto;            
            // color: #777;
            color: $color-invision-1;
            font-size: 0.8em;
            margin-left: 0.3em;
        }

        svg {
            flex: 0 0 auto;
            width: 1em;
            height: 1em;
            // fill: #333;
            fill: $color-invision-1;
            // padding: 0.65em;
            // background: #f3f3f3;
            // background: #958b8b;
            // border-top-right-radius: 0.25em;
            // border-bottom-right-radius: 0.25em;
        }
    }

    // .dropdown-curtain {
    //     position: absolute;
    //     left: 0;
    //     top: 0;
        
    //     pointer-events: none;    
        
    //     &.active {
    //         pointer-events: all;    
    //     }
    // }

    .dropdown-container {
        position: absolute;
        left: 0;

        width: 100%;

        padding: 0.3em;

        background: #f3f3f3;
        // border: 1px solid #ddd;
        border-bottom-right-radius: 0.25em;
        border-bottom-left-radius: 0.25em;

        z-index: 1;

        overflow: auto;
        -webkit-overflow-scrolling: touch;

        transform: scale(0.7, 0.7);
        opacity: 0;
        pointer-events: none;
        transition: opacity .25s, transform .25s;
        &.active {
            transform: scale(1,1);
            opacity: 1;
            pointer-events: all;    
        }

        .dropdown-element {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            cursor: pointer;

            &:not(:last-child) {
                border-bottom: 1px solid #e3e3e3;
            }

            &.active {
                .dropdown-circle {
                    background: $color-tertiary;
                }
                .dropdown-text {
                    color: $color-tertiary;
                }
            }

            .dropdown-circle {
                flex: 0 0 0.45em;
                height: 0.45em;

                background: lighten($color-invision-1, 55%);
                border-radius: 100%;

                margin: 0.75em 0.45em;
            }

            .dropdown-text {
                flex: 1 0 auto;

                font-family: $font-paragraph-2;
                color: $color-invision-1;
                font-size: 0.95em;

                padding: 0.5em 1em;
            }
        }
    }
}