.app-component-garment-info-header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:    auto auto;
    grid-template-areas: 
        "title price"
        "brand brand";

    margin: 0.5em 3em 0.5em 3em;
    
    align-items: center;

    // border-bottom: 1px solid #e8e8e8;

    -moz-user-select: none;
    user-select: none;


    .title {
        grid-area: title;
        font-family: $font-header;
        font-size: 1.25em;
        color: $color-tertiary;
        text-align: left;
    }
    .brand {
        grid-area: brand;
        font-family: $font-paragraph;
        font-size: 1em;
        color: $color-primary-light;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin: 0.3em 0;
    }
    .price {
        grid-area: price;
        font-family: $font-paragraph;
        font-size: 1.2em;
        padding: 0em 0em 0em 0.5em;
        color: $color-tertiary;
        text-align: right;
        align-self: center;
    }

}