.app-component-separator {

    svg {
        width: 5em;
        height: 1em;
        
        margin: 1em auto;
        
        display: block;
        fill: $color-tertiary;
    }

    &.line-separator {
        margin: 1.25em auto;
        border-bottom: 1px solid #ddd;
        width: 90%;
    }
}