.app-component-text {

    width: 80%;
    margin: auto;

    color: $color-tertiary;

    p {
        font-size: 0.95em;
        letter-spacing: 0.03em;
    }

    em {

    }

    i {

    }

    h1,h2,h3,h4,h5,h6 {
        font-size: 1.1em;
    }
}