.app-component-window-header {
    display: flex;
    flex-flow: row nowrap;

    align-items: center;

    padding: 0.75em 1em;

    // border-bottom: 2px solid #ddd;
    box-shadow: 0 0 0.25em rgba(0,0,0,0.24);
    z-index: 2;

    -moz-user-select: none;
    user-select: none;

    h2.title {
        flex: 1 0 auto;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        font-size: 1.2em;
        color: $color-primary;

        text-align: center;
        // margin: 0 0.4em 0 0;
    }

    svg {
        cursor: pointer;

        flex: 0 0 1.5em;
        height: 1.5em;

        fill: $color-primary;

        &:not(:last-child) {
            margin-right: 0.75em;
        }
    }
}