.footer_main {
    background: #f2f2f2;
    margin-top: 4rem;

    span.footer_thanks {
        display: block;
        text-align: center;

        padding: 2.35rem 0.7rem;

        font-family: 'Sacramento', cursive;
        font-size: 2.5rem;
        @media all and (min-width: $large-screen-breakpoint) {
            padding: 2.8rem 0;
            font-size: 3.4rem;
        }

        background: #f8f8f8;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    box-sizing: border-box;
}


.footer_flex_container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    .footer_main_b1 {
        flex: 0 0 100%;
        @media all and (min-width: 1150px) {
            flex: 0 1 35%;
        }
    }
    .footer_main_b2 {
        flex: 0 0 100%;
        @media all and (min-width: 1150px) {
            flex: 1 1 65%;
        }
    }
}


.footer_main_b1 {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    @if ($debug) {
        background: rgba(0,255,0, 0.1);
    }

    .fmb1_container {
        margin: 3em auto 5em auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;

        width: 16em;
        @media all and (min-width: 500px) {
            width: 20em;
        }
        @media all and (min-width: 1150px) {
            margin: 3em auto 3em auto;
            width: 16em;
        }
        @media all and (min-width: $large-screen-breakpoint) {
            font-size: 1.4em;
        }

        @if ($debug) {
            background: rgba(255,0,0, 0.1);
        }

        svg {
            width:  5em;
            height: 5em;
            margin-bottom: 1.2em;
        }

        span.buildtogheter {
            font-family: 'Sacramento', cursive;
            font-size: 2.1em;
            color: #444;
        }

        p.buildtogheter_text {
            text-align: justify;
            font-family: Georgia, sans-serif;

            line-height: 1.3;
            letter-spacing: 0.05em;

            padding: 0 0.8em;

            margin-top: 1em;
            font-size: 0.9em;
            color: #777;
        }
    }
}


.footer_main_b2 {

    h3.footer_featured {
        margin: 2em 0 0.25em 0;
        color: #444;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1em;
        letter-spacing: 0.1em;
        text-align: center;
        text-transform: uppercase;

        display: none;
        @media all and (min-width: 1150px) {
            display: block;
        }
        @media all and (min-width: $large-screen-breakpoint) {
            font-size: 1.4em;
        }
    }
    span.footer_featured_desc {
        margin: 0 0 1em 0;      
        color: #888;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 0.8em;
        text-align: center;
        
        display: none;
        @media all and (min-width: 1150px) {
            display: block;
        }
        @media all and (min-width: $large-screen-breakpoint) {
            font-size: 0.8em * 1.4;
        }    
    }

    // & > a > img {
    //     width: 50%;
    //     height: auto;
    //     margin: 0.5rem auto 3rem auto;

    //     border-radius: 7px;

    //     display: none;
    //     @media all and (min-width: 1150px) {
    //         display: block;
    //     }
    //     @media all and (min-width: $large-screen-breakpoint) {
    //         margin: 0.5rem auto 5rem auto;
    //     }  
    // }

    & > a {
        width: 50%;
        display: block;
        margin: auto;
        position: relative;

        margin: 0.5rem auto 3rem auto;

        display: none;
        @media all and (min-width: 1150px) {
            display: block;
        }
        @media all and (min-width: $large-screen-breakpoint) {
            margin: 0.5rem auto 5rem auto;
        }  
        
        img {
            width: 100%;
            height: auto;
            border-radius: 7px; 
            @media all and (min-width: $large-screen-breakpoint) {
                border-radius: 10px;         
            }
        }
    }

    .fmb2_container {
        display: flex;
        flex-flow: row wrap;
        margin: auto;

        width: 80%;

        @media all and(min-width: $large-screen-breakpoint) {
            font-size: 1.4em;
        }

        @if ($debug) {
            background: rgba(0,255,0, 0.1);
        }
    }
}


.main_links_box,
.contact_info_box {
    flex: 0 0 100%;
    margin: 2em 0 1.5em 0;

    @media all and(min-width: 400px) {
        flex: 0 0 49%;
        margin: 0 0 2.5em 0;
    }

    box-sizing: border-box;
    a {
        display: block;

        font-family: 'Source Sans Pro', sans-serif;
        margin-bottom: 1em;
        font-size: 0.8em;
        text-align: center;

        text-decoration: underline;
        color: #606060;

        transition: color .3s;

        &:hover {
            color: #222;
        }
    }

    span {
        display: block;
        
        font-size: 0.9em;
        margin-bottom: 2em;
        letter-spacing: 0.1em;
        color: #222;
        text-align: center;

        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
    }

    @media all and(min-width: 720px) {
        flex: 0 0 35%;
        padding-right: 1.5em;
        a {
            text-align: left;
        }
        span {
            text-align: left;
        }
    }
}

.social_links_box {
    flex: 1 0 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: start;
    margin: 2em auto 2em;

    @media all and(min-width: 400px) {
        margin: 1em auto 2em;
    }
    
    @media all and(min-width: 720px) {
        flex: 1 0 0;
        justify-content: right;
        margin: 0 auto 1em;
    }

    
    & > a {  
        margin: 0 0 0.5em 0.9em;

        &:first-of-type {
            margin: 0 0 0.5em 0;
        }

        @media all and(min-width: 400px) {
            margin: 0 0 0.5em 0.9em;    
        }
        @media all and(min-width: 720px) {
            margin: 0 0 1.4em 0.9em;    
        }

        &:hover > svg {
            fill: $primary-color;
        }

        & > svg {
            transition: fill .3s;

            width: 1em;
            height: 1em;

            fill: #444;
        }
    }

    span {
        flex: 0 0 100%;

        display: block;
        font-family: 'Source Sans Pro', sans-serif;
        color: #606060;
        font-size: 0.8em;
        letter-spacing: 0.1em;
        margin: 0.5em 0 0 0.4em;

        text-align: center;
        @media all and(min-width: 720px) {
            margin: 0;
            text-align: right;
        }

        svg {
            display: inline-block;
            width: 1.3em;
            height: 1.3em;

            fill: #606060;
        }
    }
}


.footer_sub {
    width: 100%;
    background: #444;

    box-sizing: border-box;

    @media all and (min-width: $large-screen-breakpoint) {
        font-size: 1.35em;
    }

    p {
        text-align: center;
        padding: 0.7em;

        small {
            font-size: 0.75em;
            color: #ddd;
        }
        span {
            font-family: 'Sacramento', cursive;
            font-size: 1.5em;

            & > svg {
                width: 0.75em;       
                height: 0.75em;
                fill: #ddd;       
            }

            display: block;        
            margin: 0.5em 0 0 0;

            @media all and (min-width: 650px) {
                margin: 0 0 0 3em;
                display: inline;        
            }

            color: #ddd;    
        }
    }
}
