$sidebar_width: 7em;

$debug: false;
// $debug: true;



$font-header2: 'Bree Serif', serif;
$font-header1: 'Pacifico', sans-serif;
$font-paragraph1: 'Quattrocento Sans', sans-serif;
$font-paragraph2: 'Text Me One', sans-serif;