$debug: false;



$hide-scrollbars: true;



$color-primary: #444;
$color-primary-light: #999;
$color-secondary: #ff5555;
$color-secondary-light: #ff8888;

// $color-tertiary: #785656;
$color-tertiary: #444;

$color-invision-1: rgb(59, 79, 100);
$color-invision-2: rgb(250, 108, 98);
$color-invision-3: rgb(209, 213, 214);


// $font-main: Helvetica Neue, Helvetica, Arial, sans-serif;
// $font-header: 'Roboto Slab', serif;
// $font-paragraph: 'Roboto', sans-serif;

$font-main: Helvetica Neue, Helvetica, Arial, sans-serif;
$font-header: 'Work Sans', serif;
$font-paragraph: 'Fahkwang', sans-serif;
$font-paragraph-2: Verdana, Geneva, Tahoma, sans-serif;