
.header_spinner2 {
        position: absolute;
        top: 52%;
        left: 50%;

        width:  215px;
        height: 215px;
        border-radius: 100%;
        border: 2px dashed #333;
        z-index: -1;

        @media all and (min-width: $large-screen-breakpoint) {
            top: 54%;
            width:  290px;
            height: 290px;
            border: 3px dashed #333;
        }

        animation: spin 55s linear reverse infinite;
    }

.header_spinner_closer2 {
    position: absolute;
    bottom: 37%;
    @media all and (min-width: $large-screen-breakpoint) {
        bottom: 33%;
    }

    width: 100%;
    height: 100%;

    z-index: -1;

    background: linear-gradient(white 86%, transparent 100%);
}


.header_spinner {
    position: absolute;

    top: 52%;
    left: 50%;

    width:  200px;
    height: 200px;
    border-radius: 100%;
    border: 2px dashed #ddd;

    @media all and (min-width: $large-screen-breakpoint) {
        top: 54%;
        width:  270px;
        height: 270px;
        border: 3px dashed #ddd;
    }

    .innersphere {
        position: absolute;
        border-radius: 100%;
    }

    .innersphere1 {
        width:  7px;
        height: 7px;

        top: -2%;
        left: 50%;

        @media all and (min-width: $large-screen-breakpoint) {
            width:  9px;
            height: 9px;
        }

        background: #656565;
    }

    .innersphere2 {
        width:  10px;
        height: 10px;

        top: -2.5%;
        left: 55%;

        @media all and (min-width: $large-screen-breakpoint) {
            width:  13px;
            height: 13px;

            top: -2%;
        }

        background: #333;
    }

    .innersphere3 {
        width:  8px;
        height: 8px;

        top: 40%;
        left: -2%;

        @media all and (min-width: $large-screen-breakpoint) {
            width:  10px;
            height: 10px;

            top: 42%;
        }

        background: #777;
    }
    
    .innersphere4 {
        width:  8px;
        height: 8px;

        bottom: 2%;
        left: 70%;

        @media all and (min-width: $large-screen-breakpoint) {
            width:  11px;
            height: 11px;

            bottom: 3%;
        }

        border: 2px solid #777;
    }

    z-index: -1;

    animation: spin 35s linear infinite;
}

.header_spinner_closer {
    position: absolute;
    @media all and (min-width: $large-screen-breakpoint) {
        top: 64%;
    }

    width: 100%;
    height: 100%;

    z-index: -1;

    top: 73.5%;
    @media all and (min-width: $large-screen-breakpoint) {
        top: 77%;
    }
    background: white;
    // top: 53%;
    // background: linear-gradient(transparent 0%, white 10%);
}


@keyframes spin {
    0% { transform:   translate(-50%, -50%) rotate(0deg) };
    50% { transform:  translate(-50%, -50%) rotate(180deg) };
    100% { transform: translate(-50%, -50%) rotate(360deg) };
}