.app-login-modal {
    background: white;

    padding: 1.65em;

    display: flex;
    flex-flow: column nowrap;


    header {
        position: relative;

        svg {
            position: absolute;
            top:  0.5em;
            right: 0;

            width:  1.7em;
            height: 1.7em;
            fill: $color-invision-1;
        }

        h2.login {
            text-align: center;
            font-family: $font-header;
            font-weight: 900;
            font-size: 2.5em;
            margin: 0 0 1em 0;
            color: $color-invision-1;
    
            @media all and (max-height: 670px) {
                margin: 0 0 0.8em 0;    
            }
        }
    }

    .login-form {
        margin: 0 0 2em 0;

        label {
            display: block;
            color: $color-invision-1;

            font-family: $font-paragraph;

            margin: 0 0 0.5em 0;
        }

        input {
            padding: 0.65em;
            font-size: 1.1em;
            font-family: $font-paragraph;
            color: $color-invision-1;

            border: none;
            // border-bottom: 1px solid lighten($color-invision-1, 40%);
            width: 100%;

            margin: 0 0 1em 0;

            background: #f7f7f7;
            border-radius: 0.5em;

            &:focus {
                outline: none;
                box-shadow: 0 0 5px $color-invision-2;
            }
        }

        button.login-btn {
            width: 100%;
            padding: 0.9em;
            border-radius: 0.65em;

            font-family: $font-header;
            font-weight: 800;
            font-size: 1.15em;
            color: white;

            border: none;
            outline: none;
            background: $color-invision-2;
            letter-spacing: 0.03em;
        }
    }


    .section-register-forgot {
        display: flex;
        flex-flow: row nowrap;
        
        flex: 0 0 auto;

        justify-content: space-between;

        margin: 0 0 1.7em 0;
        @media all and (max-height: 670px) {
            margin: 0 0 0.8em 0;    
        }

        > p {
            font-family: $font-paragraph;
            color: $color-invision-1;
            flex: 2 0 0;

            a {        
                color: $color-invision-2;
            }
        }

        > a {
            text-align: right;
            flex: 3 0 0;

            font-family: $font-paragraph;
            font-size: 1em;
            color: $color-invision-2;
        }
    }

    .social-controls {

        > h3 {
            text-align: center;
            font-family: $font-header;
            font-weight: 900;
            font-size: 1em;
            margin: 0 0 1.4em 0;
            color: $color-invision-1;
            letter-spacing: 0.02em;

            @media all and (max-height: 670px) {
                margin: 0 0 1em 0;    
            }
        }

        .facebook-login-btn,
        .google-login-btn {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            width: 100%;
            padding: 1em 0.5em;
            border-radius: 0.65em;
            margin: 0 0 1em 0;

            font-size: 4.5vw;
            color: white;

            border: none;
            outline: none;
            background: $color-invision-2;

            span {
                letter-spacing: 0.03em;
                font-family: $font-header;
                font-weight: 800;
                flex: 1 0 auto;
                text-align: center;
            }

            svg {
                width: 1.1em;
                height: 1.1em;
                margin-left: 0.5em;

                fill: white;
            }
        }

        .facebook-login-btn {
            background: rgb(58, 89, 153);
        }
        .google-login-btn {
            background: rgb(222, 81, 54);            
        }
    }

    
    .spacer {
        flex: 1 1 0;   
    }

    p.privacy-policy {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.82em;
        line-height: 1.55;
        text-align: center;
        color: $color-invision-3;

        a {
            border-bottom: 1px solid $color-invision-3;
        }

        padding: 0.5em;
        margin: 0 0 1em 0;

        @media all and (max-height: 670px) {
            margin: 0;    
        }
    }
}
