.app-menu-modal {
    background: white;

    .menu-modal-header {
        position: relative;
        width: 100%;
        height: 14em;

        margin: 0 0 1em 0;

        -moz-user-select: none;
        user-select: none;

        > img {
            position: absolute;
            width: 60%;
            height: auto;

            -moz-user-select: none;
            user-select: none;

            pointer-events: none;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        svg.close-icon {
            position: absolute;
            top: 1em;
            right: 1em;
            width: 2.2em;
            height: 2.2em;
            fill: white;
            padding: 0.6em;
            background: #ec4343;
            border-radius: 0.3em;
            cursor: pointer;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .links-container {
        width: 100%;

        > a {
            width: 80%;
            margin: 0 auto;

            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            cursor: pointer;

            border-bottom: 2px solid #eee;
            text-decoration: none;

            -moz-user-select: none;
            user-select: none;
            user-drag: none;
            
            svg {
                width: 1.5em;
                height: 1.5em;
                margin: 0.8em 1.5em 0.8em 0.5em;
                fill: #777;
            }

            span {
                font-size: 1.25em;
                font-family: $font-header;
                color: $color-primary;

            }
        }
    }
}