.app-reset-password-modal {
    background: white;

    padding: 1.65em;

    display: flex;
    flex-flow: column nowrap;


    header {
        svg {
            display: block;
            width:  1.7em;
            height: 1.7em;
            fill: $color-invision-1;
            margin: 0 0 0.75em auto;
        }

        h2.reset-password {
            // text-align: center;
            font-family: $font-header;
            font-weight: 900;
            font-size: 2.15em;
            margin: 0 0 2em 0;
            color: $color-invision-1;
        }
    }

    .reset-password-form {
        margin: 0 0 2em 0;

        label {
            display: block;
            color: $color-invision-1;

            font-family: $font-paragraph;

            margin: 0 0 0.5em 0;
        }

        input {
            padding: 0.65em;
            font-size: 1.1em;
            font-family: $font-paragraph;
            color: $color-invision-1;

            border: none;
            // border-bottom: 1px solid lighten($color-invision-1, 40%);
            width: 100%;

            margin: 0 0 1em 0;

            background: #f7f7f7;
            border-radius: 0.5em;

            &:focus {
                outline: none;
                box-shadow: 0 0 5px $color-invision-2;
            }
        }

        button.reset-password-btn {
            width: 100%;
            padding: 0.9em;
            border-radius: 0.65em;

            font-family: $font-header;
            font-weight: 800;
            font-size: 1.15em;
            color: white;

            border: none;
            outline: none;
            background: $color-invision-2;
            letter-spacing: 0.03em;
        }
    }
}
