.mosaicogrid {
    position: relative;
    overflow: hidden;
    margin: auto;

    min-height: 100vh;
    transition: height .35s;

    @if $debug {
        background: red;
    }

    .mosaicogrid_cell {
        display: block;
        position: absolute;
        overflow: hidden;

        border-radius: 4px;

        opacity: 0;

        transition: top 0.75s ease, opacity 0.75s ease;


        a {
            display: block;
            width: 100%;
            
            img {
                width: 100%;
                height: auto;
                display: block;

                transition: transform 0.25s ease;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05, 1.05);
                }
            }
        }

        // img {
        //     width: 100%;
        //     height: auto;
        //     display: block;

        //     transition: transform 0.25s ease;
        //     cursor: pointer;

        //     &:hover {
        //         transform: scale(1.1, 1.1);
        //     }
        // }
    }
}



.mosaico_container {
    position: relative;
    margin: auto;
}

.mosaico_header {
    @if $debug {
        background: #bbb;
    }
    padding: 0.25em 1em 1em 1em;
    margin: auto auto 2px auto;
    box-sizing: border-box;

    font-family: 'Source Sans Pro', sans-serif;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    span {
        text-transform: uppercase;
        font-size: 0.85rem;
        cursor: pointer;

        transition: color .3s;

        @media all and (min-width: $large-screen-breakpoint) {
            font-size: 1.2rem;
        }

        color: #999;

        &.active {
            color: #333;
        }

        &:hover {
            color: $primary-color;
        }

        padding: 1em 1.3em;
    }
}