.main-window {
    position: absolute;
    top:  0;
    left: 0;
    width:  100%;
    height: 100%;

    background: white;


    // taken care of by anime.js
    opacity: 0;




    .canvas-container {
        position: absolute;
        top:  0;
        left: 0;
        width:  100%;
        height: 100%;
    }

    .lower-controls-container {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0.5em;

        width: 100%;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end; 

        pointer-events: none;

        // taken care of by anime.js
        opacity: 0;             

        .sizes-container {
            flex: 0 0 auto;

            display: flex;
            flex-flow: column-reverse nowrap;

            -moz-user-select: none;
            user-select: none;

            pointer-events: all;

            > div {
                width:  2.5em;
                height: 2.5em;

                line-height: 2.5em;
                font-family: $font-paragraph;

                text-align: center;

                margin: 0.2em;

                background: white;
                color: $color-tertiary;

                border-radius: 4px;

                cursor: pointer;

                &.active {
                    background: $color-tertiary;
                    color: white;
                }
            }   
        }

        
        .menu-btns {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: baseline;

            flex: 1 0 0;

            // taken care of by anime.js
            opacity: 0;

            margin-bottom: 0.2em;


            &.unpersonalized {
                .use-my-body-btn {
                    display: none;
                    pointer-events: none;
                }
            }

            .menu-btn {
                margin: 0.4em;

                pointer-events: all;

                display: block;     
                flex: 1 0 auto;
                max-width: 65%;

                background: #557b97;
                padding: 12px 0.65em;
                color: white;
                border-radius: 2px;

                font-size: 14px;
                font-family: $font-header, Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 600;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.065em;
                -webkit-font-smoothing: antialiased;  

                transition: background .3s;

                &:hover, &:focus {
                    background-color: #436076;
                }
            }
        }


        .ctas-container {
            flex: 1 0 auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin: 0.2em;

            .personalize-btn,
            .use-my-body-btn {
                width: 40%;
                height: 2.75em;

                border-radius: 0.4em;
                background: white;

                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;

                pointer-events: all;

                span {
                    font-family: $font-paragraph;
                    font-size: 0.85em;
                    color: $color-invision-1;
                    text-align: center;
                    padding: 0.2em;
                }
            }

            .personalize-btn {
                // border-top-left-radius: 0.5em;
                // border-bottom-left-radius: 0.5em;
                margin-right: 0.4em;
                

                // svg {
                //     width:  1em;
                //     height: 1em;
                //     fill: $color-invision-1;
                //     margin-right: 0.5em;
                // }
            }

            .use-my-body-btn {
                // border-top-right-radius: 0.5em;
                // border-bottom-right-radius: 0.5em;
            }
        }

        .colors-container {
            flex: 0 0 auto;

            display: flex;
            flex-flow: column nowrap;

            -moz-user-select: none;
            user-select: none;

            pointer-events: all;

            > div {
                position: relative;

                width:  2.5em;
                height: 2.5em;

                margin: 0.2em;

                border-radius: 4px;

                box-sizing: border-box;

                cursor: pointer;

                &.active {
                    transform: scale(1.15, 1.15);
                    border-bottom: 0.8vw solid $color-secondary;
                }

                &.unavailable {
                    cursor: not-allowed;
                }

                svg {
                    position: absolute;

                    width:  1.1em;
                    height: 1.1em;

                    // fill decided by .js depending on the color entry

                    top:  50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }  
        } 
    }
}